# Saurabh Kumar | ESET0128  |   Advance Python AIML DAY:1

## 1. Write a python program to find frequency of each word in a given paragraph.

In [64]:
# Importing libraries
import numpy as np

In [65]:
paragraph=input("Enter the Paragraph")

Enter the Paragraph my name is saurabh kumar, saurabh kumar is my name, i also have one different name

In [79]:
para = paragraph.replace(',','')
para_split=para.split()

para_split

['my',
 'name',
 'is',
 'saurabh',
 'kumar',
 'saurabh',
 'kumar',
 'is',
 'my',
 'name',
 'i',
 'also',
 'have',
 'one',
 'different',
 'name']

In [80]:
word_freq = {}
for word in para_split:
    word_freq[word] = word_freq.get(word, 0) + 1

# Print word frequencies
print("Word Frequencies:")
for word, freq in word_freq.items():
    print(f"{word}: {freq}")

Word Frequencies:
my: 2
name: 3
is: 2
saurabh: 2
kumar: 2
i: 1
also: 1
have: 1
one: 1
different: 1

## 2. Create a list of tuples containing students names and marks, sort the list in descending order of marks using lambda.

In [81]:
student_and_marks=[('Saurabh',70),('Reetu',80),('Gopal',30),('Joshi',85)]
student_and_marks.sort(key=lambda x: x[1], reverse=True)
print(student_and_marks)

[('Joshi', 85), ('Reetu', 80), ('Saurabh', 70), ('Gopal', 30)]

## 3. Write a program to flatten a nested list. e.g. [4,[5,[8,5],8],4,4]

In [82]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):   # if item is a list, recurse
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)   # if item is not a list, add directly
    return flat_list


nested = [4, [5, [8, 5], 8], 4, 4]
result = flatten_list(nested)
print("Flattened List:", result)

Flattened List: [4, 5, 8, 5, 8, 4, 4]